# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Ignore static files
/static/

# Ignore environment variables
.env

# Ignore virtual environments
venv/

# Ignore IDE/editor specific files
.idea/

# Byte-compiled / optimized / DLL files
*.py[cod]

